.text-center{
    color: #035941;
}

.btn {
    background-color: #035941;
    border-color: transparent;
}

.btn:hover{
    background-color: #035941;
    border-color: transparent;
}

.form-control{
    border:1px solid gray;
    background-color: #dffbe8;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 30px;
}

.form-control:hover{
    border:1px solid rgb(0, 0, 0);
    background-color: #ffffff;
}

#register{
    color: #035941;
    margin-left: 1px;
    text-decoration: none;
}

.cover-photo {
    height: 300px;
    background: url('../assets/images/cp.jpg') no-repeat center center;
    background-size: cover;
  }
  
  .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    right: 40px; 
    border: 5px solid white;
  }
  
  .form-container {
    margin-top: 200px; /* Adjust this value to lower the form */
  }
  